<div class="country-container row">
  <div class="row inner">
    <app-country-search (onSelectCountry)="showCountry($event)"></app-country-search>
  </div>
  <div class="row inner">
    
    <div *ngIf="recentlySearchedCountries && recentlySearchedCountries.length > 0">
      <mat-toolbar color="primary">Recently Searched Country</mat-toolbar>
      <app-recently-searched-countries [countries]="recentlySearchedCountries" (onSelectCountry)="showCountry($event)"></app-recently-searched-countries>
    </div>
    <div *ngIf="selectedCountry">
        <mat-toolbar color="primary">Country Information</mat-toolbar>
        <app-country-view [country]="selectedCountry"></app-country-view>
      </div>
  </div>
</div>